html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}

li {
  list-style: none;
}

a {
  outline:none;
}



.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*------------
---ヘッダー---
--------------*/
header {
  width:100%;
  padding:0 20px;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgba(255,255,255,0.4);
  line-height: 60px;
  z-index: 10;
}

header:hover{
  background-color: #fff;
  box-shadow: 0px .5px 3px rgba(0,0,0,0.3);
  transition: .5s;
}

.header-title {
  float: left;
}

.header-menu-right {
  float: right;
  padding-right: 60px;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  padding:0 10px;
  color:#A6A6A6;
}
.header-menu-right a::after {
  position: absolute;
  bottom: -20px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #F2968F;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .5s;
}
.header-menu-right a:hover::after {
  transform: scale(1, 1);
}

.header-menu-right a:hover {
  color: #F2968F;
  transition: color .5s;
}

.header-logo img{
  height:58px;
  line-height: 60px;
}


/*------------
----トップ----
--------------*/
.top-section{
  width:100%;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border:none;
  background-color:transparent;
}


.bxslider{
  margin: 0;
  padding: 0;
}

.bxslider img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/*
.top-section img{
  width:100%;
}*/

/*
.top-section{
  width: 350px;
}
.bxslider{
  margin: 0;
  padding: 0;
}*/

/*----------------
--九大美女図鑑？--
------------------*/

.about-section{
  display: inline-block;
  width: 100%;
  height: 100vh;
}

/*--
.about-text{
  margin-top: 40px;
  background-color:#E8B3AC;
}

.about-section p{
  padding:20px 50px;
  color:white;
  font-size: 15px;
}--*/
.back-color{
  padding:60px;
  clear: left;
  width: auto;
  background-color: #F2968F;
}

.text-highlight {
    clear: left;
    width: auto;
    color: white;
    font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
    margin-top: 4px;
    padding:32px 0 32px 64px;
}




/*------------
---美女紹介---
--------------*/

.intro-section{
  height: 100vh;
}

.text-header{
  width:240px;
  font-size:30px;
  color:#F2968F;
  text-align: center;
  margin:30px auto;

  border-top: 3px solid #F2968F;
  border-bottom: 3px solid #F2968F;

}

.eg-title{
  width:100%;
  font-size:20px;
  color:#F2968F;
  text-align: center;
  padding-bottom: 30px;
}


.intro-wrapper{
  width:100%;
  background-color: #F9EAF0;
  padding-top:60px;
  padding-bottom: 50px;
}

.list{
	text-align: center;
  padding:0 60px;
}

.list li{
  padding: 10px;
	margin: 10px;
	display: inline-block;
}

.list a{
  text-decoration: none;
  color:#F2968F;
  font-weight: bold;
}

.intro-img img{
  width:150px;
  height:150px;
  object-fit: cover;
  border-radius: 50%;
  -moz-border-image: border-radius: 50%;
  -webkit-border-image: border-radius: 50%;
}
/*プロフィール*/

.info-wrapper {
  position: relative;
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
}

.bijo-img {
  float: left;
  height: 420px;
  width: 327px;
}

.bijo-img img {
  border-radius: 0 7px 7px 0;
  object-fit: cover;
  height: 420px;
  width: 327px;
}

.bijo-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 7px 0 0 10px;
  background-color: #ffffff;
}

.info-text {
  height: 300px;
  width: 327px;
  text-align: center;
  margin-top: 100px;
  line-height: 30px;
}

.info-text h1{
  font-weight: lighter;
}

.info-text span{
  color: #F2968F;
}

.close-modal{
  cursor: pointer;
}

.sankaku{
  position: absolute;
  border-radius:7px 0 0 0;
	width: 0;
	height: 0;
	border: 45px solid transparent;
	border-top: 45px solid #F2968F;
  border-left: 45px solid #F2968F;
}
